{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/toys/toy-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Switches</h1>
</section>

<section class="card-container">
  {% for switch in switch_list %}
  <div class="card" style="border-color: {{ toy.color }}">
    <div class="card-bg" style="background-color: {{ toy.color }}"></div>
    <a href="{% url 'toys_detail' toy.id %}">
      <div class="card-content">
        <h2>{{ toy.name }}</h2>
        <p>A {{ toy.color }} toy</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}