{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/switches/switch-detail.css' %}" />
{% endblock %} 
{% block content %} 

<section class="page-header">
  <h1> {{ switch.name }}</h1>
</section>

<section class="card-container">
  <div class="card">
    <div class="card-content">
      <p>Brand: {{ switch.brand }}</p>
        <p>Type: {{ switch.type }}</p>
        <p>Top-Housing: {{ switch.top_housing }}</p>
        <p>Stem: {{ switch.stem }}</p>
        <p>Spring: {{ switch.spring }}</p>
        <p>Actuation Force: {{ switch.actuation_force }}g</p>
        <p>Bottom-Out: {{ switch.bottom_out }}g</p>
        <p>Bottom Housing: {{ switch.bottom_housing }}</p>
        <p>Pins: {{ switch.pin }}</p>
    </div>
    <div class='edt-del-btn'>
      <button class='edit-btn'><a href="{% url 'switches_update' switch.id %}" class="btn warn">Edit</a></button>
   <button class='delete-btn'>
    <a href="{% url 'switches_delete' switch.id %}" class="btn danger">Delete</a>
   </button>
    </div>
  </div>
</section>

{% endblock %}