{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/keyboards/keyboard-detail.css' %}" />
{% endblock %} 
{% block content %} 

<section class="page-header">
  <h1> {{ switch.name }}</h1>
</section>

<section class="card-container">
  <div class="card">
    <div class="card-content">
      <p>{{ switch.type }} Switch</p>
    </div>
  </div>
  <a href="{% url 'switches_update' switch.id %}" class="btn warn">Edit</a>
  <a href="{% url 'switches_delete' switch.id %}" class="btn danger">Delete</a>
</section>

{% endblock %}