{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Delete Switch?</h1>

  <h2>Are you sure you want to delete {{ object.name }}?</h2>
</div>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <div class='delete-form-btn'>
    <button class='cancel-btn'>
      <a 
      href="{% url 'switches_detail' switch.id %}" 
      class="btn secondary"
    >
      Cancel
    </a>
    </button>
    <button type="submit" class="delete-btn">Delete</button>
  </form>
  </div>

{% endblock %}