{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/switches/switch-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Switches</h1>
  <button><a href="{% url 'switches_create' %}">Add Switch</a></button>
</section>

<section class="card-container">
  {% for switch in switch_list %}
  <div class="card"">
    <div class="card-bg""></div>
    <a href="{% url 'switches_detail' switch.id %}">
      <div class="card-content">
        <h2>{{ switch.name }}</h2>
        
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}