{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/keyboards/keyboard-detail.css' %}" />
{% endblock %} 
{% block content %} 

<section class="page-header">
  <h1> {{ keyboard.name }}</h1>
</section>

<section class="card-container">
  <div class="card">
    <div class="card-content">
      <p>Layout: {{ keyboard.layout }}</p>
        <p>PCB: {{ keyboard.pcb}}</p>
        <p>Plate: {{ keyboard.plate }}</p>
    </div>
    <div class='edt-del-btn'>
      <button class='edit-btn'><a href="{% url 'keyboards_update' keyboard.id %}" class="btn warn">Edit</a></button>
   <button class='delete-btn'>
    <a href="{% url 'keyboards_delete' keyboard.id %}" class="btn danger">Delete</a>
   </button>
    </div>
  </div>
</section>

{% endblock %}