{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/keyboards/keyboard-index.css' %}" />
{% endblock %} 
{% block content%} 
<section class="page-header">
  <h1>Keyboards</h1>
</section>
<section class="keyboard-container">
  {% for keyboard in keyboards %}
  <div class="keyboard-card" >
    <a href="{% url 'keyboards_detail' keyboard.id %}">
      <div class="card-content">
        <h2>{{ keyboard.name }}</h2>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}