{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Keep Keebs</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Rozha+One&display=swap" rel="stylesheet">
  <link href='https://css.gg/log-out.css' rel='stylesheet'>
  <link href='https://css.gg/home.css' rel='stylesheet'>
  <link rel="shortcut icon" type='image/png' href="{% static 'assets/favicon-32x32.png' %}" >
  {% block head %}
  {% endblock %}

</head>
<body>
  <header>
    <nav>
      <div class="header-title">
        <h1>KEEP KEEBS</h1>
      </div>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'keyboards_index' %}">Home</a></li>
          <li><a href="{% url 'switches_index' %}">Switches</a></li>
          <li><a href="{% url 'logout' %}"><i class="gg-log-out"></i></a></li>
        {% else %}
          <li><a href="{% url 'home'%}">Login</a></li>
          <li><a href="{% url 'signup'%}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content%}
    {% endblock %}
  </main>
</body>
</html>