{% extends 'base.html' %} {% load static %} {% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %} 
{% block content%} 
{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Hello Again!</h1>
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Sign In</button>
    <h3>Don't Have An Account?</h3>
    <button class="btn" id='signup-btn'><a href="{% url 'signup'%}">Sign Up</a></button>
  </form>
</section>
{% endif %} 

{% endblock %}
